core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
kaggle.json
cloudinary_python.txt
inputs/leaves_dataset/cherry-leaves/**/healthy/
inputs/leaves_dataset/cherry-leaves/**/powdery_mildew/
README.md
.ipynb_checkpoints/
outputs/*.csv
.DS_Store
.python-version
.devcontainer/
*.keras
*.pkl
