core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
inputs/leaves_dataset/cherry-leaves/resized_images/healthy
inputs/leaves_dataset/cherry-leaves/resized_images/powdery_mildew
inputs/leaves_dataset/cherry-leaves/processed_images/healthy
inputs/leaves_dataset/cherry-leaves/processed_images/powdery_mildew
inputs/leaves_dataset/cherry-leaves/processed_images/test/healthy
inputs/leaves_dataset/cherry-leaves/processed_images/test/powdery_mildew
inputs/leaves_dataset/cherry-leaves/processed_images/train/healthy
inputs/leaves_dataset/cherry-leaves/processed_images/train/powdery_mildew
inputs/leaves_dataset/cherry-leaves/processed_images/validation/healthy
inputs/leaves_dataset/cherry-leaves/processed_images/validation/powdery_mildew
outputs/test_dataframe.csv
outputs/train_dataframe.csv
outputs/validation_dataframe.csv
README.md
kaggle.json
config.yaml