
# Python
__pycache__/
*.py[cod]
*.so
env.py
.env
.venv
*.pkl
*.h5
*.keras

# Data and Notebooks
inputs/
outputs/
jupyter_notebooks/
*.csv

# IDE and Development
.vscode/
.idea/
.devcontainer/
core.Microsoft*
core.mongo*
core.python*

# Misc
.DS_Store
node_modules/
.github/
cloudinary_python.txt
kaggle.json
