h5py==3.13.0
joblib==1.4.2
kaggle==1.5.12
keras==3.9.2
Markdown==3.7
matplotlib==3.8.0
ml_dtypes==0.5.1
numpy==1.26.1
pandas==2.1.1
pillow==11.2.1
plotly==5.17.0
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
streamlit==1.40.2
tensorflow_cpu==2.19.0
toml==0.10.2
